/* TEMPLATE ==================== */
/* TEMPLATE-SINGLE ==================== */
/* PAGINATION ==================== */
/* M CARD SECTION ==================== */
/* AWARDS ==================== */
/* SEARCH ==================== */
/* SERVICES ==================== */
/* BANNER HERO LARGE ==================== */
/* BANNER HERO ==================== */
/* PAGE NAV ==================== */
/* PARALLAX STICKY ==================== */
/* TEMPLATE-2 ==================== */
/* TEMPLATE-2 CONTENT ==================== */
/* REVIEW ==================== */
/* FEATURE ON ==================== */
/* TWO SIDE CONTENT ==================== */
/* 404 ==================== */

/* ---- General ----- */
.section-title {
    font-size: var(--font-size-h2);
    line-height: 1;
    font-weight: var(--weight-bold);
    color: var(--color-theme-red);
    text-align: center;
    font-family: var(--font-heading);
}

/* TEMPLATE ==================== */
.page-template {
    background-color: var(--color-white);
    padding-top: var(--header-h);
}

.page-template .template-hero {
    padding: var(--spacing-xl) 0;
}

.page-template .template-hero .title {
    font-size: var(--font-size-h2);
    line-height: 1;
    font-weight: var(--weight-bold);
    color: var(--color-theme-red);
    text-align: center;
    font-family: var(--font-heading);
}

.page-template .template-hero .wrapper {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-lg);
}

/* Filter */
.filter-template {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: var(--spacing-md);
}

.filter-template .select {
    margin: 0;
    padding: 0;
}

.filter-template .swiper .swiper-slide {
    width: auto;
}

.filter-template .swiper .swiper-slide:not(:last-child) {
    padding-right: var(--spacing-md);
}

.filter-template .filter {
    font-size: var(--font-size-button2);
    font-family: var(--font-body);
}
.filter-template .filter.active {
    color: var(--color-theme-red);
}

/* Grid Content */
.grid-content-template {
    display: grid;
}

.grid-content-template {
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: min-content;
    grid-gap: var(--spacing-xs);
}

.grid-content-template .content-item {
    position: relative;
}

.grid-content-template .content-item .link-overlay {
    z-index: 2;
}

.content-item:hover .media-wrapper img {
    filter: brightness(0.2);
}

.grid-content-template .content-item .text-content {
    width: 90%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: var(--spacing-sm);
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-2xs);
    justify-content: space-between;
    color: var(--color-white);
}

.grid-content-template .content-item .text-content .body {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-3xs);
}

.grid-content-template .content-item .text-content .body > * {
    line-height: 1;
}

.grid-content-template .content-item .text-content .item-title {
    color: var(--color-theme-red);
    font-weight: var(--weight-bold);
}

.grid-content-template .content-item .text-content .description {
    font-weight: var(--weight-bold);
    font-family: var(--font-heading);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.content-item .text-content .footer {
    display: flex;
    align-items: center;
    grid-gap: var(--spacing-2xs);
    font-size: var(--font-size-body2);
    text-wrap: nowrap;
    position: relative;
    z-index: 3;
}

.content-item .text-content .footer.justify-content-between {
    justify-content: space-between;
    grid-gap: var(--spacing-3xs);
}

.read-more {
    color: var(--color-white);
    transition: var(--duration) var(--timing-function);
}

.read-more:hover {
    color: var(--color-theme-red);
}

.solid-btn {
    display: flex;
    align-items: center;
    padding: var(--spacing-3xs) var(--spacing-2xs);
    border-radius: 6px;
    border: 0.817px solid var(--color-white);
    background-color: var(--color-gray-dark);
    text-wrap: nowrap;
    transition: var(--duration) var(--timing-function);
    font-family: var(--font-heading);
    overflow: hidden;
    color: var(--color-white);
    font-size: var(--font-size-body2);
    width: fit-content;
}

.solid-btn a {
    line-height: 1;
}

.solid-btn > span {
    margin-left: var(--spacing-2xs);
}

.solid-btn.share {
    width: 80px;
}

.solid-btn.share .share-buttons {
    width: 0;
    opacity: 0;
    display: flex;
    align-items: center;
    grid-gap: var(--spacing-2xs);
    transition: var(--duration) var(--timing-function);
}

.solid-btn.share:hover {
    width: 120px;
}

.solid-btn.share:hover > *:not(.share-buttons) {
    opacity: 0;
    width: 0;
    pointer-events: none;
    margin: 0;
}

.solid-btn.share:hover .share-buttons {
    width: auto;
    opacity: 1;
    pointer-events: auto;
}

html.no-touchevents .solid-btn.share .share-buttons a:hover {
    opacity: 0.5;
}

/* Grid Content Small Item */
.grid-content-template.small {
    grid-template-columns: repeat(4, 1fr);
    row-gap: var(--spacing-md);
}

.content-item-small {
    position: relative;
}

.content-item-small .image {
    overflow: hidden;
    border-radius: 8px;
    aspect-ratio: 5 / 3;
    width: 100%;
}

.content-item-small .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.content-item-small .text-content {
    margin-top: var(--spacing-3xs);
    display: flex;
    flex-direction: column;
}

.content-item-small .text-content .description .category {
    padding-right: var(--spacing-2xs);
    border-right: 1px solid var(--color-gray);
}

.content-item-small .text-content .description > p {
    font-weight: var(--weight-regular);
    display: inline;
    color: var(--color-gray);
}

@media (max-width: 767.98px) {
    .page-template .template-hero {
        padding: var(--spacing-2lg) 0;
    }

    .page-template .template-hero .wrapper {
        row-gap: var(--spacing-md);
    }

    .filter-template {
        flex-direction: column;
        align-items: center;
        row-gap: var(--spacing-xs);
    }

    .filter-template .category-filter {
        width: 100vw;
        margin-left: cacl(var(--container-padding) * -1);
    }

    .filter-template .swiper .swiper-wrapper {
        user-select: none;
    }

    .grid-content-template,
    .grid-content-template.small {
        grid-template-columns: 1fr 1fr;
        grid-gap: var(--spacing-2xs);
    }

    .grid-content-template .content-item,
    .content-item .media-wrapper img {
        border-radius: 8px;
    }

    .grid-content-template .content-item .text-content {
        width: 100%;
        position: static;
        height: auto;
        padding: var(--spacing-2xs) 0;
        color: var(--color-black);
    }

    .content-item:hover .media-wrapper img,
    .blog-item.item-style1:hover .media-wrapper img {
        filter: unset;
        transform: none;
    }

    .grid-content-template .content-item .text-content .type {
        color: var(--color-gray);
    }

    .grid-content-template .content-item .text-content .item-title {
        color: var(--color-black);
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .grid-content-template .content-item .text-content .branch-available {
        margin-top: calc(-1 * var(--spacing-2xs));
    }

    .content-item-small .text-content .item-title {
        font-size: 20px;
    }
}

/* TEMPLATE SINGLE ==================== */
.template-single {
    position: relative;
    z-index: 1;
}

.template-single > section {
    /* position: relative;
    z-index: 10; */
}

.template-single .template-banner-slide {
    position: sticky;
    top: 0;
    z-index: -1;
}

/* Hero */
.swiper-fade .swiper-slide {
    opacity: 0 !important;
    z-index: 0 !important;
    pointer-events: none !important;
}
.swiper-fade .swiper-slide-active {
    opacity: 1 !important;
    z-index: 1 !important;
    pointer-events: auto !important;
}

.template-banner-slide {
    position: relative;
    overflow: hidden;
}

.template-banner-slide .main .swiper-slide {
    width: 100%;
    height: auto;
}

.template-banner-slide .main .swiper-slide .image {
    width: 100%;
}

.template-banner-slide .main .swiper-slide .image * {
    width: 100%;
    height: auto;
}

.template-banner-slide .thumbs {
    position: absolute;
    bottom: var(--spacing-sm);
    left: 0;
    z-index: 5;
    width: 100%;
    padding: 0 var(--spacing-md);
}

.template-banner-slide .thumbs .swiper {
    overflow: visible;
}

.template-banner-slide .thumbs .swiper-slide {
    width: auto;
    cursor: pointer;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 3.981px 2.628px 0px rgba(0, 0, 0, 0.55);
}

.template-banner-slide
    .thumbs
    .swiper-slide:not(.swiper-slide-thumb-active)
    .image {
    filter: brightness(0.5);
}

.template-banner-slide .thumbs .swiper-slide .image {
    height: 5vw;
}

.template-banner-slide .thumbs .swiper-slide .image * {
    width: auto;
    height: 100%;
}

/* Content */
.template-single-content {
    background-color: var(--color-white);
    padding: var(--spacing-xl) 0;
}

.template-single-content .wrapper {
    display: flex;
    flex-direction: column;
    grid-gap: var(--spacing-md);
    padding-bottom: var(--spacing-xl);
}

.template-single-content .content-header {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-auto-rows: min-content;
    column-gap: var(--spacing-xl);
}

.template-single-content .content-header .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: var(--spacing-2xs);
}

.template-single-content .content-header .date-and-branch {
    grid-column: span 2;
    margin-top: var(--spacing-2xs);
}

.template-single-content .entry-content p {
    color: #666;
    font-size: var(--font-size-body1);
}

.template-single-content .media-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--spacing-xl);
}

.template-single-content .media-banner * {
    max-width: 100%;
}

.template-single-content .media-banner iframe {
    aspect-ratio: 1.9523809524;
    max-width: 68.5873605948%;
    width: 100%;
}

/* Template Gallery */
.template-gallery {
    padding: 0 var(--spacing-2xs);
}
.template-gallery .swiper-slide {
    width: auto;
}
.template-gallery .swiper-slide .image {
    height: 19.375vw !important;
    width: auto;
    margin-right: var(--spacing-2xs);
    position: relative;
}

.template-gallery .swiper-slide .image img {
    height: 100%;
}

/* Related Card */
.template-related-card {
    background-color: var(--color-white);
    padding-bottom: var(--spacing-2xl);
}

.template-related-card .title {
    font-size: var(--font-size-h2);
    line-height: 1;
    font-weight: var(--weight-bold);
    color: var(--color-theme-red);
    text-align: center;
    font-family: var(--font-heading);
}

.template-related-card .wrapper {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-lg);
}

@media (max-width: 991px) {
    /* Hero */
    .template-banner-slide .thumbs .swiper-slide {
        border-radius: 8px;
    }

    .template-banner-slide .thumbs .swiper-slide .image {
        height: 15.7948717949vw;
    }

    /* Content */
    .template-single-content {
        padding: var(--spacing-lg) 0;
    }

    .template-single-content .content-header {
        grid-template-columns: 1fr;
        row-gap: var(--spacing-sm);
        text-align: center;
    }

    .template-single-content .content-header .date-and-branch {
        grid-column: span 1;
        margin-top: calc(-1 * var(--spacing-2xs));
        margin-bottom: var(--spacing-2xs);
    }

    .template-single-content .content-header .buttons {
        order: 2;
    }

    .template-single-content .media-banner {
        margin-top: var(--spacing-md);
    }

    .template-single-content .media-banner iframe {
        max-width: 100%;
    }

    /* Template Gallery */
    .template-gallery .swiper-slide .image {
        height: 42.3076923077vw !important;
        margin-right: var(--spacing-2xs);
    }
}

/* PAGINATION ==================== */
.pagination {
    margin-top: var(--spacing-md);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: var(--spacing-lg);
    font-size: var(--font-size-subtitle1);
    color: var(--color-gray-light);
}

.pagination .page {
    font-family: var(--font-body) !important;
}

.pagination .current {
    color: var(--color-theme-red);
}

.pagination .page:hover {
    color: var(--color-gray);
}

/* M CARD SECTION ==================== */
.m-card-section {
    background-color: var(--color-black);
}

.m-card-section.gold {
    background-color: var(--color-gold);
}

.m-card-section .content-wrapper {
    display: flex;
}

.m-card-text {
    flex-grow: 1;
}

.m-card-text .text-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: var(--spacing-md);
    color: var(--color-white);
    font-family: var(--font-heading);
    font-weight: var(--weight-medium);
    font-size: var(--font-size-body1);
    text-align: start;
    padding: 5% 10%;
}

.m-card-section.gold .text-wrapper > h4 {
    color: var(--color-white);
}

.m-card-text .text-wrapper > p {
    font-size: var(--font-size-body1);
}

.m-card-text .text-wrapper ul {
    list-style-type: disc;
    list-style-position: outside;
    padding-left: 1em;
}

.m-card-text .text-wrapper .read-more {
    font-weight: var(--weight-bold);
    font-size: var(--font-size-button1);
}

.m-card-section.gold .text-wrapper .read-more:hover {
    color: var(--color-white);
    opacity: 0.5;
}

.m-card-image {
    width: 57.9166666667%;
    flex-shrink: 0;
    aspect-ratio: 1.6646706587;
}

.m-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 767.98px) {
    .m-card-section .content-wrapper {
        flex-direction: column;
        padding: var(--spacing-md) var(--spacing-sm);
        grid-gap: var(--spacing-xs);
    }

    .m-card-text .text-wrapper {
        padding: 0;
        row-gap: var(--spacing-xs);
    }

    .m-card-image {
        width: 100%;
        aspect-ratio: unset;
    }
}

/* AWARDS ==================== */
.awards-section {
    padding-bottom: var(--spacing-xl);
}

.awards-section .title {
    margin-bottom: var(--spacing-sm);
}

.awards-section .swiper-button-next {
    right: var(--spacing-xs);
}

.awards-section .swiper-button-prev {
    left: var(--spacing-xs);
}

.awards-section .swiper-slide .award-wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 0.7508591065;
}

.awards-section .swiper-slide .bg-image {
    position: relative;
    width: 100%;
    height: 100%;
}

.awards-section .swiper-slide .bg-image:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
}

.awards-section .swiper-slide .bg-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.awards-section .swiper-slide .text-content {
    position: absolute;
    width: calc(100% - var(--spacing-lg));
    bottom: var(--spacing-md);
    left: 50%;
    transform: translateX(-50%);
    color: var(--color-white);
}

.awards-section .swiper-slide .text-content .year-and-num {
    display: flex;
    grid-gap: var(--spacing-2xs);
    align-items: center;
}

.awards-section .swiper-slide .text-content .year-and-num .year {
    padding-right: var(--spacing-2xs);
    border-right: 1px solid var(--color-white);
}

.awards-section .swiper-slide .text-content ul {
    margin-top: var(--spacing-md);
    list-style: disc;
    list-style-position: outside;
    font-family: var(--font-heading);
    font-weight: var(--weight-bold);
    font-size: var(--font-size-subtitle2);
    line-height: 1;
    padding-left: 1em;
}

/* SEARCH ==================== */

.search .filter-template .category-filter {
    width: 100%;
}

@media (max-width: 767px) {
    .search .filter-template .category-filter {
        width: 100vw;
        margin-left: cacl(var(--container-padding) * -1);
    }

    .search .filter-template .swiper {
        padding: 0 var(--container-padding);
    }
}

/* SERVICES ==================== */
.services-section {
    padding-bottom: var(--spacing-2xl);
}

.services-section .services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: var(--spacing-sm);
    margin-top: var(--spacing-sm);
}

.services-section .services-grid .service-item {
    position: relative;
    width: 100%;
    aspect-ratio: 0.7534482759;
}

.services-section .services-grid .service-item .background-image {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

html.no-touchevents .service-item:hover .background-image img {
    scale: 1.05;
}

.services-section .services-grid .service-item .background-image::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
    z-index: 3;
}

.services-section .services-grid .service-item .background-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: var(--duration) var(--timing-function);
}

.services-grid .service-item .content {
    position: absolute;
    left: 50%;
    bottom: var(--spacing-sm);
    transform: translateX(-50%);
    color: var(--color-white);
    width: calc(100% - var(--spacing-sm) * 2);
    z-index: 10;
    display: flex;
    flex-direction: column;
    grid-gap: var(--spacing-lg);
}

.services-grid .service-item .content .header {
    display: flex;
    flex-direction: column;
    grid-gap: 2px;
}

.services-grid .service-item .content .header .title {
    font-size: var(--font-size-h5);
}

.services-grid .service-item .content .header .subtitle {
    font-size: var(--font-size-sub2);
}

.services-grid .service-item .list {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-xs);
}

.services-grid .service-item .list-item {
    font-size: var(--font-size-sub2);
    display: flex;
    justify-content: space-between;
}

@media (min-width: 992px) {
    .services-section .services-grid .service-item:nth-child(3n + 2) {
        animation-delay: 0.3s;
    }

    .services-section .services-grid .service-item:nth-child(3n + 3) {
        animation-delay: 0.7s;
    }
}

@media (max-width: 991px) {
    .services-section {
        padding-bottom: var(--spacing-xl);
    }

    .services-section .services-grid {
        grid-template-columns: 1fr;
        margin-top: var(--spacing-2xs);
    }
}

/* BANNER HERO ==================== */
.banner-hero {
    min-height: 34.7222222222vw;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.banner-hero::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
}

.banner-hero .section-content {
    position: relative;
    z-index: 5;
}

.banner-hero .section-content .content-wrapper {
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 34.7222222222vw;
    padding-top: var(--header-h);
    width: 100%;
}
.banner-hero .section-content .content-wrapper.padding-x {
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
}

.banner-hero .section-content .marquee-wrapper {
    flex-shrink: 0;
}
.banner-hero .section-content .marquee {
    width: fit-content;
    display: inline-flex;
}
.banner-hero .section-content .marquee-text {
    width: fit-content;
    font-size: var(--font-size-h1);
    font-weight: var(--weight-bold);
    font-family: var(--font-heading);
    color: var(--color-white);
    line-height: 0.6;
    padding-right: 0.2em;
}
.banner-hero > * {
    width: 100%;
}
.banner-hero > .background-image {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.banner-hero > .background-image * {
    width: 100%;
    height: 100%;
}
.banner-hero > .background-image .object *:is(img, video) {
    object-fit: cover;
    object-position: center;
}

@media (max-width: 991px) {
    .banner-hero {
        min-height: 112.8205128205vw;
    }

    .banner-hero .section-content {
        min-height: 112.8205128205vw;
        display: flex;
        align-items: flex-end;
    }

    .banner-hero .section-content .content-wrapper {
        min-height: inherit;
        padding-bottom: var(--spacing-sm);
    }
}

/* Banner-Button */
.banner-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 39px;
    padding: var(--spacing-3xs) 0;
    padding-left: var(--spacing-3xs);
    padding-right: var(--spacing-sm);
    background-color: var(--color-white);
    width: fit-content;
    grid-gap: var(--spacing-3xs);
    font-size: var(--font-size-body1);
    font-weight: var(--weight-medium);
    color: var(--color-black);
}

.banner-button .ic {
    width: 31px;
    height: 31px;
    background-color: var(--color-theme-red);
    color: var(--color-white);
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 16px;
}

.banner-button.large {
    padding: var(--spacing-sm);
    width: 100%;
    border-radius: 20px;
}

/* Center */
.banner-hero.center {
    padding-bottom: var(--spacing-xl);
}
.banner-hero.center .content-wrapper {
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}

.banner-hero.center .content-wrapper .content {
    display: flex;
    flex-direction: column;
    grid-gap: var(--spacing-sm);
    text-wrap: balance;
}

.banner-hero.center .content .title {
    line-height: 0.6;
}

.banner-hero.center .content .cta-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: var(--spacing-xs);
    flex-wrap: wrap;
}

@media (max-width: 991px) {
    .banner-hero.center {
        padding-bottom: 0;
        display: flex;
        align-items: flex-end;
    }
}

/* PAGE NAV ==================== */
.page-nav {
    background-color: #f9f9f9;
    position: relative;
    z-index: 10;
    width: 100vw;
}

.page-nav .swiper {
    padding: 0 var(--container-padding);
}

.page-nav .swiper-slide {
    width: auto;
}

.page-nav .swiper-slide:not(:last-child) {
    padding-right: var(--spacing-sm);
}

.page-nav .swiper-slide .page-nav-link {
    display: block;
    padding: var(--spacing-md) 0;
    text-transform: uppercase;
    font-size: var(--font-size-button1);
    font-family: var(--font-body);
}

.page-nav .swiper-slide:first-child .page-nav-link {
    color: var(--color-theme-red);
}

html.no-touchevents .page-nav .swiper-slide .page-nav-link:hover {
    color: var(--color-theme-red);
}

/* PARALLAX STICKY ==================== */
.parallax-sticky {
    background-color: var(--color-white);
    overflow: clip;
    display: grid;
    grid-template-rows: auto 1fr;
    width: 100vw;
}

.parallax-sticky .sticky {
    position: relative;
}

.parallax-sticky .sticky .text {
    width: 50%;
    margin: 0 auto;
    position: sticky;
    top: calc(50vh - var(--header-h));
    text-align: center;
    text-wrap: balance;
    display: flex;
    flex-direction: column;
    grid-gap: var(--spacing-2xs);
    padding: var(--spacing-md) 0;
    z-index: 10;
}

.parallax-sticky .sticky .text > h2 {
    line-height: 0.6;
}

.parallax-sticky .sticky *[class*="image-"] {
    position: absolute;
}

.parallax-sticky .sticky *[class*="image-"] img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@media (min-width: 992px) {
    .parallax-sticky {
        height: 61.4583333333vw;
    }

    .parallax-sticky .sticky .image-1 {
        top: 5%;
        left: 2%;
        width: 22.4166666667vw;
    }

    .parallax-sticky .sticky .image-2 {
        width: 17.4861111111vw;
        top: 30%;
        left: 0;
    }

    .parallax-sticky .sticky .image-3 {
        width: 17.1527777778vw;
        bottom: 0;
        left: 7.5%;
    }

    .parallax-sticky .sticky .image-4 {
        width: 17.4861111111vw;
        right: 0;
        top: 0;
    }

    .parallax-sticky .sticky .image-5 {
        width: 22.625vw;
        bottom: 7%;
        right: 2%;
    }

    .parallax-sticky .sticky .image-6 {
        width: 12.2777777778vw;
        bottom: 0;
        right: 22.5%;
    }
}

@media (max-width: 991px) {
    .parallax-sticky {
        height: 148.2051282051vw;
    }

    .parallax-sticky .sticky {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .parallax-sticky .sticky .text {
        padding-top: 0;
        width: 60.5128205128%;
        margin: 0;
    }

    .parallax-sticky .sticky .image-1 {
        top: 0%;
        left: 5%;
        width: 45.1282051282vw;
    }

    .parallax-sticky .sticky .image-2 {
        width: 26.4102564103vw;
        top: 30%;
        left: -15%;
    }

    .parallax-sticky .sticky .image-3 {
        width: 33.07692307692vw;
        bottom: 5%;
        left: -15%;
    }

    .parallax-sticky .sticky .image-4 {
        width: 31.2820512821vw;
        right: -10%;
        top: 0;
    }

    .parallax-sticky .sticky .image-5 {
        width: 27.6923076923vw;
        bottom: 0%;
        right: 10%;
    }

    .parallax-sticky .sticky .image-6 {
        width: 21.5384615385vw;
        top: 50%;
        right: -5%;
    }
}

@media (max-width: 767px) {
    .parallax-sticky {
        height: 188.2051282051vw;
    }
}

/* TEMPLATE-2 ==================== */
.page-template2 .banner-hero {
    display: flex;
    align-items: flex-end;
}
.page-template2 .banner-hero::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
}

.page-template2 .banner-hero .section-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.page-template2 .banner-hero .content-wrapper {
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    padding-bottom: var(--spacing-xl);
}

.page-template2 .banner-hero .text-content {
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    grid-gap: var(--spacing-sm);
    justify-content: flex-end;
    position: relative;
    z-index: 12;
}

.page-template2 .banner-hero .logo-row > img {
    max-height: 45px;
    max-width: 105px;
    object-position: center;
    object-fit: contain;
}

.page-template2 .banner-hero .text-content .logo-marquee-container {
    max-width: 50%;
}

@media (max-width: 991px) {
    .page-template2 .banner-hero {
        min-height: 133.8461538462vw;
    }
    .page-template2 .banner-hero::before {
        height: 70%;
    }

    .page-template2 .banner-hero .text-content .logo-marquee-container {
        max-width: unset;
    }
}

/* TEMPLATE-2 CONTENT ==================== */
.template-2-content {
    background-color: var(--color-white);
}

.template-2-content .content-container {
    padding: var(--spacing-xl) var(--container-padding);
}

.template-2-content .filter-template .swiper .swiper-slide:not(:last-child) {
    padding-right: var(--spacing-sm);
}

.template-2-content .main-content {
    margin-top: var(--spacing-md);
}

@media (max-width: 1380px) {
    .template-2-content .content-container {
        padding: var(--spacing-lg) var(--container-padding);
    }

    .template-2-content .filter-template {
        flex-direction: column;
        align-items: flex-start;
        grid-gap: var(--spacing-sm);
    }
}

@media (max-width: 1200px) {
    .template-2-content .content-container {
        padding: var(--spacing-md) var(--container-padding);
    }

    .template-2-content .filter-template {
        align-items: center;
    }

    .filter-template .swiper {
        /* width: 100vw;
        margin-left: cacl(var(--container-padding) * -1); */
        -webkit-mask-box-image: -webkit-linear-gradient(
            0deg,
            transparent 0%,
            white 2.5%,
            white 95%,
            transparent 100%
        );
        padding: 0 var(--container-padding);
    }
}

/* REVIEW ==================== */
.review-section {
    padding: var(--spacing-2xl) 0;
}

.review-section .title {
    color: var(--color-theme-red);
    text-align: center;
    margin-bottom: var(--spacing-lg);
}

.review-section .review-gallery {
    columns: 4;
    column-gap: var(--spacing-2xs);
    margin-bottom: var(--spacing-3xs);
}

.review-section .media *:is(img, video) {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.review-section .masonry-grid {
    --gutter-size: 6px;
    --column-number: 4;
}

.review-section .masonry-grid-item {
    margin-bottom: calc(var(--gutter-size) * 2);
}

.masonry-grid .masonry-grid-item {
    width: calc(100% / var(--column-number));
    padding: 0 var(--gutter-size);
}

@media (max-width: 991px) {
    .review-section {
        padding: var(--spacing-lg) 0;
    }

    .review-section .review-gallery {
        columns: 3;
        column-gap: var(--spacing-3xs);
    }

    .review-section .masonry-grid {
        --gutter-size: 3px;
        --column-number: 3;
    }

    .review-section .review-gallery .media:nth-child(odd) {
        margin-bottom: var(--spacing-3xs);
    }
}

/* FEATURE ON ==================== */
.featured-on {
    background-color: var(--color-white);
    padding: var(--spacing-xl) 0;
}

.featured-on .title {
    color: var(--color-theme-red);
    text-align: center;
    margin-bottom: var(--spacing-sm);
}

.featured-on .marquee {
    display: inline-flex;
    grid-gap: var(--spacing-xs);
    padding-right: var(--spacing-xs);
}

.featured-on .marquee .marquee-item {
    position: relative;
    width: 33.6805555556vw;
}

.featured-on .marquee .marquee-item .image {
    width: 100%;
    aspect-ratio: 1.7383512545;
}

.featured-on .marquee .marquee-item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.featured-on .marquee-item .text .feature-title {
    line-height: 1;
    margin-top: var(--spacing-2xs);
    margin-bottom: var(--spacing-3xs);
}

.featured-on .marquee-item .text .description {
    color: var(--color-gray);
    font-size: var(--font-size-subtitle2);
}

@media (max-width: 991px) {
    .featured-on {
        padding: var(--spacing-lg) 0;
    }

    .featured-on .marquee {
        grid-gap: var(--spacing-2xs);
        padding-right: var(--spacing-2xs);
    }
    .featured-on .marquee .marquee-item {
        width: 74.1025641026vw;
    }
}

/* TWO SIDE CONTENT ==================== */
.two-side-content {
    display: flex;
    min-height: 100vh;
    background-color: var(--color-black);
}

.two-side-content *:is(.left-side, .right-side) {
    width: 50%;
}

.two-side-content .left-side .image {
    height: 100%;
}

.two-side-content .left-side .image *:is(picture, figure, img, video) {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.two-side-content .right-side {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-lg);
    color: var(--color-white);
}

.two-side-content .right-side .text-content {
    display: flex;
    flex-direction: column;
    grid-gap: var(--spacing-sm);
    max-width: 450px;
}

.two-side-content .right-side .text-content .title {
    line-height: 1;
}

@media (max-width: 991px) {
    .two-side-content {
        flex-direction: column;
    }

    .two-side-content *:is(.left-side, .right-side) {
        width: 100%;
    }
    .two-side-content .right-side {
        padding: var(--container-padding);
    }

    .two-side-content .right-side .text-content {
        text-align: center;
    }

    .two-side-content .right-side .text-content .description {
        padding-top: var(--spacing-md);
        padding-bottom: var(--spacing-md);
    }
}

/* 404 ==================== */
.page-404 .not-found-hero {
    position: relative;
}

.page-404 .not-found-hero .image {
    width: 100vw;
    height: 100vh;
}

.page-404 .not-found-hero .image * {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.page-404 .not-found-hero .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    grid-gap: var(--spacing-sm);
    align-items: center;
    width: 100%;
    padding: var(--container-padding);
}

.page-404 .not-found-hero .text h1 {
    line-height: 0.6;
}

.page-404 .not-found-hero .text a {
    font-size: var(--font-size-button1);
}

html.no-touchevents .page-404 .not-found-hero .text a:hover {
    opacity: 0.7;
}

@media (max-width: 991px) {
    .page-404 .not-found-hero .text {
        grid-gap: var(--spacing-2xs);
    }
}
