/* Debug */
* {
    /*border: 1px solid red;*/
}
/* Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Global css */
.no-scroll {
    height: 100%;
    overflow: hidden !important;
}

.filter-red {
    filter: brightness(100%) invert(16%) sepia(100%) saturate(6920%)
        hue-rotate(357deg) brightness(110%) contrast(118%);
}

@-webkit-keyframes textFlyIn {
    0% {
        -webkit-transform: perspective(3em) rotateX(-90deg)
            translate3d(0, 100%, 0) scale3d(0.75, 1, 1);
        opacity: 0;
        transform: perspective(3em) rotateX(-90deg) translate3d(0, 100%, 0)
            scale3d(0.75, 1, 1);
    }

    to {
        -webkit-transform: perspective(3em) rotate3d(0, 0, 0, 0) translateZ(0)
            scaleZ(1);
        opacity: 1;
        transform: perspective(3em) rotate3d(0, 0, 0, 0) translateZ(0) scaleZ(1);
    }
}

@keyframes textFlyIn {
    0% {
        -webkit-transform: perspective(3em) rotateX(-90deg)
            translate3d(0, 100%, 0) scale3d(0.75, 1, 1);
        opacity: 0;
        transform: perspective(3em) rotateX(-90deg) translate3d(0, 100%, 0)
            scale3d(0.75, 1, 1);
    }

    to {
        -webkit-transform: perspective(3em) rotate3d(0, 0, 0, 0) translateZ(0)
            scaleZ(1);
        opacity: 1;
        transform: perspective(3em) rotate3d(0, 0, 0, 0) translateZ(0) scaleZ(1);
    }
}

.textFlyIn {
    -webkit-animation-name: textFlyIn;
    animation-name: textFlyIn;
    transition-timing-function: cubic-bezier(0, 0.55, 0.45, 1);
    transition-delay: 0s;
    animation-fill-mode: both;
}
@-webkit-keyframes c-fadeInUp {
    0% {
        -webkit-transform: translate3d(0, 10%, 0);
        opacity: 0;
        transform: translate3d(0, 10%, 0);
    }

    to {
        -webkit-transform: translateZ(0);
        opacity: 1;
        transform: translateZ(0);
    }
}

@keyframes c-fadeInUp {
    0% {
        -webkit-transform: translate3d(0, 10%, 0);
        opacity: 0;
        transform: translate3d(0, 10%, 0);
    }

    to {
        -webkit-transform: translateZ(0);
        opacity: 1;
        transform: translateZ(0);
    }
}

.c-fadeInUp {
    -webkit-animation-name: c-fadeInUp;
    animation-name: c-fadeInUp;
}
video {
    display: block;
}
.wow {
    animation-duration: 1s;
}
html.header-enabled,
.header-enabled body {
    overflow: hidden;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.wrapper {
    width: var(--container-default);
    padding: 0 var(--container-padding);
    margin: 0 auto;
    position: relative;
    height: 100%;
    z-index: 3;
}
.wrapper.wrapper-default {
    max-width: calc(1440px + (var(--container-padding) * 2));
}
.wrapper.wrapper-content {
    max-width: calc(1160px + (var(--container-padding) * 2));
}
.media-wrapper {
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.media-wrapper.media-h100 {
    height: 100%;
}
.media-wrapper:before {
    content: "";
    display: block;
}
.media-wrapper.media1-1:before {
    padding-top: 100%;
}
.media-wrapper.media16-9:before {
    padding-top: calc((9 / 16) * 100%);
}
.media-wrapper.media4-3:before {
    padding-top: calc((3 / 4) * 100%);
}
.media-wrapper * {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.media-wrapper:not(.media-auto) * {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.bg-obj {
    pointer-events: none;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.bg-obj * {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.bg-obj.bg-contain * {
    object-fit: contain;
}
.link-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}
.select .select2-container .select2-selection--single {
    height: 28px;
    border-radius: 14px;
    padding-left: var(--spacing-sm);
    padding-right: var(--spacing-2lg);
    outline: 0 !important;
    border-color: var(--color-body);
}
.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    padding: 0;
}
.select2-container--default
    .select2-selection--single
    .select2-selection__placeholder {
    color: var(--color-body);
}
.select2-container--default
    .select2-results__option--highlighted[aria-selected] {
    background-color: var(--color-theme-red);
}
.select2-container--default
    .select2-selection--single
    .select2-selection__arrow::after {
    content: "\e908";
    font-family: "iconfont";
    position: absolute;
    right: var(--spacing-sm);
    top: 50%;
    transform: translateY(-50%);
}
.select2-container--default
    .select2-selection--single
    .select2-selection__arrow
    b {
    display: none;
}
/* End of Global css */
/* Font */
.fw-bold {
    font-weight: var(--weight-bold) !important;
}
.entry-content > *:is(h1, h2, h3, h4, h5) {
    font-weight: var(--weight-bold) !important;
}
.entry-content > p,
.entry-content > small {
    font-weight: var(--weight-medium) !important;
}

.entry-content ul {
    font-size: var(--font-size-h5);
}
.entry-content small {
    font-size: var(--font-size-md);
}
.ff-heading,
.fsw-h1,
.fsw-h2,
.fsw-h3,
.fsw-h4,
.fsw-h5,
a,
.entry-content > * {
    font-family: var(--font-heading);
}
body,
.main-menu,
.ff-body,
footer .footer-menu a,
.mobile-menu a {
    font-family: var(--font-body);
}
.fsw-h1,
.entry-content h1 {
    line-height: 1.25;
    font-size: var(--font-size-h1);
    font-weight: var(--weight-bold);
}
.fsw-h2,
.entry-content h2 {
    line-height: 1;
    font-size: var(--font-size-h2);
    font-weight: var(--weight-bold);
}
.fsw-h3,
.entry-content h3 {
    line-height: 1.14;
    font-size: var(--font-size-h3);
    font-weight: var(--weight-medium);
}
.fsw-h4,
.entry-content h4,
.mobile-menu a {
    line-height: 1.15;
    font-size: var(--font-size-h4);
    font-weight: var(--weight-medium);
}
.fsw-h5 {
    line-height: 1.2;
    font-size: var(--font-size-h5);
    font-weight: var(--weight-regular);
}
.fsw-subtitle1 {
    font-size: var(--font-size-sub1);
    font-weight: var(--weight-regular);
    line-height: 1;
}
.fsw-subtitle2 {
    font-size: var(--font-size-sub2);
    font-weight: var(--weight-bold);
    line-height: 1.14;
}
body p,
.fsw-body {
    font-size: var(--font-size-body1);
    font-weight: var(--weight-medium);
    line-height: 1.2;
}
.fsw-body2 {
    font-size: var(--font-size-body2);
    font-weight: var(--weight-medium);
    line-height: 1;
}
.fsw-btn,
.select2-container--default
    .select2-selection--single
    .select2-selection__rendered,
header .main-menu a {
    font-size: var(--font-size-button1);
    font-weight: var(--weight-bold);
    font-family: var(--font-body);
}
header .main-menu a:hover {
    color: var(--color-theme-red);
}

.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    font-weight: var(--weight-regular);
}
.fsw-btn2,
footer .footer-menu a {
    font-size: var(--font-size-button2);
    font-weight: var(--weight-regular);
}
.c-theme-red {
    color: var(--color-theme-red);
}
.c-gray {
    color: var(--color-gray);
}
.bg-white {
    background-color: var(--color-white);
}
.font-heading {
    font-family: var(--font-heading);
}
.font-body {
    font-family: var(--font-body) !important;
}
.weight-bold {
    font-weight: var(--weight-bold) !important;
}
.weight-regular {
    font-weight: var(--weight-regular) !important;
}
/* End of Font */

/* Header */
header {
    height: var(--header-h);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.85) 0%,
        rgba(0, 0, 0, 0) 136.36%
    );
    backdrop-filter: blur(10px);
    z-index: 98;
    transition: 0.4s;
    transition-property: none !important;
    user-select: none;
}
header .header-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

.homepage header {
    position: absolute;
    top: var(--home-header);
}
.header-container {
    padding: var(--spacing-2xs) var(--container-padding);
    display: grid;
    grid-template-columns: min(25%, 200px) 1fr min(25%, 200px);
    height: 100%;
    transition: var(--duration) var(--timing-function);
}
.header-bound .homepage header {
    top: 0;
    position: fixed;
}
.header-l,
.header-r {
    display: flex;
    align-items: center;
    height: 100%;
    grid-gap: var(--spacing-sm);
}
.header-l {
    justify-content: flex-start;
}

.header-l .ic {
    font-size: var(--font-size-h4);
}
.header-m .menu-wrapper {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    column-gap: var(--spacing-lg);
    height: 100%;
}
.header-r {
    justify-content: flex-end;
}

.main-menu {
    display: flex;
    column-gap: var(--spacing-lg);
    align-items: center;
    text-wrap: nowrap;
}
.main-menu1 {
    justify-content: flex-end;
}

.main-menu2 {
    justify-content: flex-start;
}
#header .search {
    display: flex;
    cursor: pointer;
    align-items: center;
}

#header .header-search input {
    border: none;
}
#site_logo {
    opacity: 0;
    transition: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
}
#site_logo.active {
    opacity: 1;
}

.site-logo img {
    height: 60px;
}
.social-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-column-gap: var(--spacing-2xs);
    line-height: 1;
}

.lang-select {
    position: relative;
}

.lang-select .selected-value {
    display: flex;
    align-items: center;
    grid-gap: var(--spacing-2xs);
}

.lang-select .selected-value > img {
    width: 20px;
}

.lang-select .selected-value .ic {
    transition: var(--duration) var(--timing-function);
}

.lang-select .selected-value .ic::before {
    font-size: 12px;
}

.lang-select .options-wrapper {
    padding: var(--spacing-2xs);
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.6);
    width: fit-content;
    opacity: 0;
    pointer-events: none;
    transition: var(--duration) var(--timing-function);
}

.lang-select.active .options-wrapper {
    opacity: 1;
    pointer-events: all;
}

.lang-select.active .selected-value .ic {
    rotate: 180deg;
}

.lang-select .options-wrapper .options {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-xs);
    width: 20px;
}

#header.search-active .header-search {
    opacity: 1;
    pointer-events: all;
}

#header.search-active .header-container {
    opacity: 0;
    pointer-events: none;
}

.header-search {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.85) 0%,
        rgba(0, 0, 0, 0) 136.36%
    ); */
    backdrop-filter: blur(10px);
    opacity: 0;
    pointer-events: none;
    transition: var(--duration) var(--timing-function);
}

.header-search .search-container {
    padding: var(--spacing-2xs) var(--container-padding);
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    grid-gap: var(--spacing-sm);
}

.header-search .search-container form {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-search .search-container .search-close {
    opacity: 0.6;
    transition: var(--duration) var(--timing-function);
    cursor: pointer;
    display: flex;
    align-items: center;
}

.header-search .search-container .search-close:hover {
    opacity: 1;
}

.pcMenu-container {
    position: fixed;
    width: 100vw;
    height: 100dvh;
    background-color: var(--color-black);
    top: 0;
    left: 0;
    z-index: 90;
    transform: translateY(-100%);
    transition: var(--duration-x3) cubic-bezier(0.83, 0, 0.17, 1);
}

.header-menu-trigger.active,
.header-menu-trigger.current {
    color: var(--color-theme-red);
}

html.header-menu-enabled .pcMenu-container {
    transform: translateY(0);
}

.panel-scroll {
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -ms-scroll-chaining: none;
    overscroll-behavior: contain;
    -webkit-mask-box-image: -webkit-linear-gradient(
        -90deg,
        transparent 0%,
        white var(--spacing-md),
        white calc(100% - var(--spacing-md) - var(--spacing-3xl)),
        transparent 100%
    );
}

.menu-tab {
    margin: 0 !important;
    position: relative;
    height: 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    transition-property: opacity;
    transition-duration: 1s;
    min-height: 0;
    transition: opacity var(--duration) var(--timing-function);
}

.menu-tab.active {
    height: 100%;
    width: auto;
    opacity: 1;
    overflow: visible;
    pointer-events: auto;
    padding-top: var(--header-h);
}

.menu-tab .menu-content-wrapper {
    color: var(--color-white);
    padding: var(--spacing-xl) var(--container-padding);
    display: flex;
    flex-direction: column;
    row-gap: min(10.4166666667vw, 150px);
    height: 100%;
}

.menu-tab .menu-content-wrapper .tab-title {
    text-align: center;
}

.menu-tab .menu-content-wrapper .menu-content {
    flex-grow: 1;
    padding-bottom: var(--spacing-3xl);
    user-select: none;
}

/* WHAT'S ON ,,,, ABOUT US */
.menu-tab:is(.whatson, .aboutus) .menu-content-wrapper .menu-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
}

.menu-tab:is(.whatson, .aboutus) .menu-content-wrapper .menu-content a {
    display: block;
    font-size: var(--font-size-h2);
    line-height: 0.6;
}

.menu-tab:is(.whatson, .aboutus) .menu-content-wrapper .menu-content a:hover {
    color: var(--color-theme-red);
}

/* BRAND & SHOP ,,,,, FOOD */
.menu-tab:is(.brandshop, .food) .menu-content-wrapper .menu-content {
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--spacing-md);
    justify-content: center;
    padding: 0 var(--spacing-3xl);
    padding-bottom: var(--spacing-3xl);
}

.menu-tab:is(.brandshop, .food) .menu-content .menu-content-item {
    width: 20%;
    position: relative;
    padding: 0 var(--spacing-xs);
    height: fit-content;
}

.menu-tab:is(.brandshop, .food) .menu-content .menu-content-item .image {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
}

.menu-tab:is(.brandshop, .food) .menu-content .menu-content-item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.menu-tab:is(.brandshop, .food) .menu-content .menu-content-item .text {
    text-align: center;
    font-size: var(--font-size-h5);
    margin-top: var(--spacing-md);
    transition: var(--duration) var(--timing-function);
}

.menu-tab:is(.brandshop, .food) .menu-content .menu-content-item:hover .text {
    color: var(--color-theme-red);
}
/* End of Header */

/* Footer */
footer {
    color: var(--color-white);
    padding: var(--spacing-2lg) 0;
}
.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-gap: var(--spacing-xs);
    margin-bottom: var(--spacing-xl);
}
.footer-container {
    margin: 0 auto;
    max-width: 1440px;
    display: grid;
    grid-template-columns: 47.5694444444% 40.9722222222%;
    margin-bottom: var(--spacing-3xl);
    grid-column-gap: 6%;
    grid-row-gap: var(--spacing-md);
    flex-wrap: wrap;
}
.footer-container *:is(.left-side, .right-side) {
    display: flex;
    justify-content: space-between;
    grid-gap: var(--spacing-2xs);
}

.footer-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    grid-row-gap: var(--spacing-xs);
}
.social-menu > .ic {
    display: block;
    font-size: 24px;
    margin-bottom: var(--spacing-xs);
}
.social-menu > .ic + .footer-menu:not(:last-child) {
    margin-bottom: var(--spacing-lg);
}
.copyright p {
    cursor: default;
}
.copyright p a {
    cursor: pointer;
}
html.no-touchevents .footer-menu a:hover {
    opacity: 0.5;
}
/* End of Footer */

/* Homepage */
/* #trigger_logo{
    position: absolute;
    bottom: 0;
} */
.intro-logo {
    mix-blend-mode: lighten;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--calc-h);
    pointer-events: none;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.intro-logo img {
    height: 227px;
    transform-origin: top;
    transition: unset;
}
.intro-logo img.scroll {
    height: 60px;
    filter: brightness(100%) invert(16%) sepia(100%) saturate(6920%)
        hue-rotate(357deg) brightness(110%) contrast(118%);
}
.intro-logo img.completed {
    opacity: 0 !important;
}

.homepage-intro {
    position: relative;
    overflow: hidden;
    height: 100vh;
    min-height: 810px;
}
.homepage-intro .tab-container,
.homepage-intro .tabContent-container {
    height: 100%;
}
.homepage-intro .tab-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    z-index: 9;
    padding-bottom: var(--spacing-lg);
    grid-row-gap: var(--spacing-2md);
    mix-blend-mode: lighten;
}
.homepage-intro .tab-wrapper .tab {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    grid-row-gap: var(--spacing-3xs);
}
.homepage-intro .tab-content::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 387px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
}
.homepage-intro .tab a {
    color: var(--color-theme-red);
}
.homepage-intro .tab a:not(.active) {
    opacity: 1;
}
.homepage-intro .tab-container .tab > li {
    height: 56px;
    position: relative;
}
.slide-section .slide-container {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 600px;
    max-height: 810px;
    overflow: hidden;
}
.slide-section .slide-container::before {
    content: "";
    display: block;
    padding-top: calc((9 / 16) * 100%);
}
.slide-section .slide-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, #000 100%);
    pointer-events: none;
}
.slide-brand {
    margin-top: var(--spacing-2lg);
}
.slide-section .slide-content {
    max-width: 655px;
    position: absolute;
    left: 10vw;
    bottom: var(--spacing-2xl);
    z-index: 3;
    padding-bottom: var(--spacing-2xl);
}
.slide-section .slide-container .slide-obj {
    position: absolute;
    right: 10vw;
    bottom: 0;
    z-index: 3;
    width: auto;
    max-width: 50vw;
    max-height: 90%;
}

.slide-section .slide-container .logo-image {
    height: 78px;
    display: flex;
    align-items: center;
}

.slide-section .slide-container .slide-logo {
    max-width: 100px !important;
    max-height: 78px;
    width: auto;
    object-fit: contain;
    object-position: center;
}
.slide-section .swiper-slide .slide-obj,
.slide-section .swiper-slide .bg-obj {
    opacity: 0;
    will-change: opacity;
    transition: opacity var(--transition) var(--timing-function);
}
.slide-section .swiper-slide .bg-obj {
    transition-delay: 0.4s;
}
.slide-section .swiper-slide .slide-obj {
    transition-delay: 0.8s;
}
.slide-section .swiper-slide.swiper-slide-active .slide-obj,
.slide-section .swiper-slide.swiper-slide-active .bg-obj {
    opacity: 1;
}
.slide-section .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--color-theme-red);
}

.slide-section .swiper-pagination-bullet {
    opacity: 1;
}

.logo-marquee-container {
    position: relative;
    -webkit-mask-box-image: -webkit-linear-gradient(
        0deg,
        transparent 0%,
        white 10%
    );
}
.logo-marquee {
    position: relative;
    -webkit-mask-box-image: -webkit-linear-gradient(
        180deg,
        transparent 0%,
        white 10%
    );
}
.logo-marquee-container.logo-static,
.logo-static .logo-marquee {
    -webkit-mask-box-image: none;
}
.logo-marquee-container.logo-static .logo-row {
    padding-left: 0;
}
.logo-row,
.text-marquee .text-row {
    display: inline-grid;
    vertical-align: middle;
    align-items: center;
    grid-auto-flow: column;
    grid-auto-columns: -webkit-max-content;
    grid-auto-columns: max-content;
    grid-gap: 0 var(--spacing-md);
    white-space: normal;
    padding-left: var(--spacing-md);
}
.text-marquee .text-row {
    padding: 0 var(--spacing-md);
}
.swiper-button {
    width: auto;
    height: auto;
    margin-top: 0;
    transform: translateY(-50%);
}
.swiper-button-prev {
    left: var(--container-padding);
}
.swiper-button-next {
    right: var(--container-padding);
}
.swiper-button::after {
    font-family: "iconfont";
    font-size: 10px;
    display: grid;
    place-items: center;
    color: var(--color-theme-red);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 0.8);
}
.swiper-fade .swiper-slide {
    opacity: 0 !important;
    z-index: 0 !important;
    pointer-events: none !important;
}
.swiper-fade .swiper-slide-active {
    opacity: 1 !important;
    z-index: 1 !important;
    pointer-events: auto !important;
}

.swiper.default.fade .swiper-slide,
.swiper.auto.fade .swiper-slide {
    width: 100% !important;
    height: auto !important;
}
.swiper.default.fade .swiper-slide > *,
.swiper.auto.fade .swiper-slide > * {
    height: 100%;
}

.swiper.fix *[class*="swiper-button-"] {
    top: 0;
    transform: none;
}

@media (max-width: 767px) {
    .swiper-button::after {
        width: 30px;
        height: 30px;
    }
}
.swiper-button.swiper-button-prev::after {
    content: "\e909";
}
.swiper-button.swiper-button-next::after {
    content: "\e90a";
}
.swiper-pagination-bullet {
    background-color: var(--color-white);
    width: 5px;
    height: 5px;
    opacity: 1;
    margin: 0 !important;
    opacity: 0.5;
}
.bg-white .swiper-pagination-bullet {
    background-color: #dadada;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1;
    width: 7px;
    height: 7px;
}
.slide-section .swiper-pagination {
    left: 0;
    padding-left: 10vw;
    bottom: var(--spacing-2xl);
    justify-content: flex-start;
    text-align: left;
}
.promotion-section {
    padding-bottom: var(--spacing-lg);
}
.grid-content.grid-promo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: var(--spacing-md);
}
.grid-content.grid-promo .image {
    width: 100%;
    aspect-ratio: 1;
    position: relative;
}
.grid-content.grid-promo .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.grid-content.grid-promo .image .title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: min(7.4626865672vw, var(--spacing-lg));
    color: var(--color-white);
    text-wrap: nowrap;
}

.promotion-wrapper {
    display: block;
    position: relative;
    overflow: hidden;
}
.promotion-list {
    display: grid;
    grid-template-columns: 100%;
}
.promotion-list > * {
    grid-column: 1;
    grid-row: 1;
    opacity: 0;
    transition: opacity var(--transition) var(--timing-function);
}
.promotion-list > *.active {
    opacity: 1;
}
.grid-content.grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.happening-item .grid-content.grid2 > .grid-context {
    background-color: var(--color-body);
}

.happening-section {
    padding: var(--spacing-2lg) 0;
}

.happening-section .swiper-button-next {
    right: var(--spacing-2xs);
}

.happening-section .swiper-button-prev {
    left: var(--spacing-2xs);
}

.happening-section.tab-container {
    display: block;
}
.select:has(.branch-select, .happening-select) {
    width: fit-content;
    min-width: 208px;
    margin: 0 auto;
    padding-bottom: var(--spacing-xl);
}
.happening-section .section-content {
    margin-top: var(--spacing-2lg);
}
.happening-desc {
    width: 100%;
    height: 100%;
    padding: var(--spacing-md) var(--spacing-2xl);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.swiper-happening {
    margin-bottom: var(--spacing-2md);
}
.swiper-happening .swiper-pagination {
    bottom: var(--spacing-sm);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: var(--spacing-3xs);
}
.swiper-happening .swiper-button-prev {
    left: var(--spacing-2xs);
}
.swiper-happening .swiper-button-next {
    right: var(--spacing-2xs);
}
.swiper-happeningThumb .swiper-slide.swiper-slide-active {
    color: var(--color-theme-red);
}
.swiper-happeningThumb {
    max-width: 675px;
    -webkit-mask-box-image: -webkit-linear-gradient(
        0deg,
        transparent 0%,
        white 49.5%,
        transparent 100%
    );
    margin-top: var(--spacing-lg);
    user-select: none;
}
.swiper-happeningThumb .swiper-slide {
    padding: 0 var(--spacing-md);
    width: 105px;
    cursor: pointer;
}
.swiper-happeningThumb
    .swiper-slide:not(.swiper-slide-active)
    .happening-thumb {
    opacity: 0.5;
}
.directory-section {
    padding: var(--spacing-2lg) 0;
}
.popup-container .mfp-close {
    top: var(--container-padding);
    right: var(--container-padding);
}
.grid-content.grid-directory {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 320px auto;
    grid-column-gap: 5.5%;
    grid-row-gap: var(--spacing-md);
    align-items: flex-start;
}
.directory-content > .fsw-h5:not(:first-child) {
    margin-top: var(--spacing-xs);
    margin-bottom: var(--spacing-3xs);
}

.directory-content ul {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-3xs);
}

.directory-content ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--font-size-body2);
}

.directory-content ul li .store-code {
    color: var(--color-gray-light);
}

.directoryContent-item .tab-content {
    overflow-y: scroll;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.directory-store,
.directory-maps {
    position: relative;
    height: 100%;
    overflow: hidden;
    z-index: 2;
}
.directory-select {
    position: relative;
    z-index: 3;
}
.directory-store > .tab-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}
.floorSelect-container,
.directoryContent-container,
.mapsContent-container {
    display: grid;
    grid-template-columns: 100%;
    position: relative;
    z-index: 9;
}
.directoryContent-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.floorSelect-container > *,
.directoryContent-container > *,
.mapsContent-container > * {
    grid-column: 1;
    grid-row: 1;
    opacity: 0;
    will-change: opacity;
    transition: opacity var(--transition) var(--timing-function);
    pointer-events: none;
    visibility: hidden;
}
.floorSelect-container > *.active,
.directoryContent-container > *.active,
.mapsContent-container > *.active {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
}
.mapsContent-item {
    height: fit-content;
}

.mapsContent-item .tab-content {
    position: relative;
}

.mapsContent-item .tab-content .map-buttons {
    position: absolute;
    display: flex;
    column-gap: var(--spacing-3xs);
    top: var(--spacing-sm);
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

.mapsContent-item .tab-content .map-buttons > * {
    cursor: pointer;
    display: flex;
    column-gap: var(--spacing-3xs);
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: var(--spacing-3xs) var(--spacing-sm);
    transition: var(--duration) var(--timing-function);
    font-size: var(--font-size-button1);
    font-family: var(--font-heading);
    line-height: 1;
    font-weight: 700;
    text-wrap: nowrap;
}

.mapsContent-item .tab-content .map-buttons .graphic-map {
    background-color: var(--color-white);
    color: var(--color-black);
}

.mapsContent-item .tab-content .map-buttons .google-map {
    background-color: var(--color-gray-dark);
    color: var(--color-gray);
}

.mapsContent-item .tab-content .media-wrapper {
    width: 100%;
    aspect-ratio: 1.2867981791;
}

.update-section {
    padding: var(--spacing-2lg) 0;
}

.update-section .tab-content {
    overflow: hidden;
    width: 100vw;
    margin-left: calc(-1 * var(--container-padding)) !important;
}
.swiper.swiper-update {
    overflow: visible;
    padding-bottom: var(--spacing-xl);
}
.swiper.swiper-update .swiper-wrapper {
    transition-timing-function: linear !important;
}
.swiper.swiper-update .swiper-slide {
    width: calc(420px + var(--spacing-xs));
    padding: 0 calc(var(--spacing-xs) / 2);
}
.swiper-update .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--color-theme-red);
}
.blog-item {
    display: block;
    position: relative;
    border-radius: var(--spacing-sm);
    overflow: hidden;
    background-color: var(--color-white);
}
.blog-item:hover .media-wrapper img {
    perspective: 1000px;
    transform-style: preserve-3d;
}
.blog-item .media-wrapper img {
    border-radius: var(--spacing-sm);
}
.blog-item.item-style1:hover .media-wrapper img {
    transform-origin: left bottom;
    transform: perspective(1000px) rotateX(-20deg) rotateY(14deg) rotateZ(0);
}
.blog-item.item-style2:hover .media-wrapper img {
    transform-origin: right bottom;
    transform: perspective(1000px) rotateX(-20deg) rotateY(-14deg) rotateZ(0);
}
.blog-item.item-style3:hover .media-wrapper img {
    transform-origin: right top;
    transform: perspective(1000px) rotateX(20deg) rotateY(-14deg) rotateZ(0);
}
.blog-item.item-style4:hover .media-wrapper img {
    transform-origin: left top;
    transform: perspective(1000px) rotateX(20deg) rotateY(14deg) rotateZ(0);
}
.blog-item .hover-img {
    z-index: 4;
}
.blog-item:hover .hover-img {
    opacity: 0;
    pointer-events: none;
}
.blog-text * {
    position: absolute;
    mix-blend-mode: difference;
    z-index: 3;
    color: var(--color-white);
}
.blog-text *:first-child {
    top: var(--spacing-sm);
    left: var(--spacing-sm);
}
.blog-text *:last-child {
    bottom: var(--spacing-sm);
    right: var(--spacing-sm);
    text-align: right;
}
.member-section {
    overflow: hidden;
    padding-top: var(--spacing-2lg);
    background-color: var(--color-black);
}
.member-section .swiper {
    overflow: visible;
    margin-top: var(--spacing-md);
}
.member-item {
    display: block;
    position: relative;
}
.member-item::before,
.member-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 33.13%,
        rgba(0, 0, 0, 0.9) 100%
    );
    transition: all var(--transition) var(--timing-function);
}
.member-item::after {
    opacity: 0;
    background: linear-gradient(
        180deg,
        rgba(255, 0, 0, 0) 35.07%,
        #630000 100%
    );
}
.member-item:hover::before {
    opacity: 0;
}
.member-item:hover::after {
    opacity: 1;
}
.member-item .media-wrapper > * {
    transition: transform var(--transition) var(--timing-function);
}
.member-item:hover .media-wrapper > * {
    transform: scale(1.05);
}
.member-item .fsw-h4 {
    position: absolute;
    bottom: var(--spacing-sm);
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

/* End of Homepage */

/* Single */
.single-intro {
    padding-top: var(--spacing-xl);
    padding-bottom: 70px;
    background-color: #323232;
}
.single-intro .grid-media {
    display: flex;
    align-items: center;
}
.singleIntro-content {
    width: 100%;
    height: 100%;
    padding: var(--spacing-2xl) 0;
    padding-left: var(--spacing-2lg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.intro-detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.intro-detail > * {
    width: 100%;
    padding: var(--spacing-xs) 0;
}
.intro-detail > *:not(:last-child) {
    border-bottom: 1px solid var(--color-white);
}
.single-container {
    padding: var(--spacing-xl) 0;
}
.single-gallery {
    overflow: hidden;
    padding-bottom: var(--spacing-xl);
}
.single-gallery .swiper.auto {
    overflow: visible;
}
.single-gallery .swiper-slide {
    width: 360px;
    padding: 0 var(--spacing-3xs);
}
/* End of Single */

/* RESPONSIVE MIN WIDTH */
@media (min-width: 1399.98px) {
}
@media (min-width: 1199.98px) {
}
@media (min-width: 1023.98px) {
}
@media (min-width: 991.98px) {
    .member-section .swiper .swiper-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .directory-select > *:not(:last-child) {
        margin-bottom: var(--spacing-2xs);
    }
    .grid-content.grid-directory > * {
        grid-column: 1;
    }
    .grid-content.grid-directory > .directory-maps {
        grid-row: 1 / span 2;
        grid-column: 2;
        /* min-height: 660px; */
    }
}
@media (min-width: 767.98px) {
    .promotion-wrapper .promoCover-text {
        position: absolute;
        bottom: var(--spacing-md);
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .happening-section .swiper-pagination {
        left: 50%;
        width: 50%;
    }
    .promotion-wrapper .bg-obj {
        z-index: -1;
    }
    .promotion-wrapper .bg-obj::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.75);
        backdrop-filter: blur(16.5px);
    }
    .promotion-wrapper::before {
        content: "";
        display: block;
        padding-top: 100%;
    }
    .promotion-wrapper:hover .promotion-cover {
        opacity: 0;
        pointer-events: none;
    }
    .promotion-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: var(--spacing-lg) var(--spacing-2lg);
    }
    .promotion-wrapper .promotion-cover {
        pointer-events: all;
        opacity: 1;
        transition: opacity var(--transition) var(--timing-function);
        will-change: opacity;
        z-index: 2;
    }
    .promotion-wrapper > * {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .promotion-heading {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: var(--spacing-md);
    }
    .promotion-list {
        overflow: scroll;
    }
    .visible-mb {
        display: none;
    }
    .promotion-wrapper .swiper-promo .swiper-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: var(--spacing-2sm);
        transform: unset !important;
        transition: unset !important;
    }
    .promotion-wrapper
        .swiper-promo
        .swiper-wrapper
        .swiper-slide.swiper-slide-duplicate {
        display: none !important;
    }
    .slide-section .slide-content {
        width: 50%;
    }
}
@media (min-width: 575.98px) {
}
/* End of RESPONSIVE MIN WIDTH */

/* RESPONSIVE MAX WIDTH */
@media (max-width: 1399.98px) {
}
@media (max-width: 1199.98px) {
}
@media (max-width: 1023.98px) {
}
@media (max-width: 991.98px) {
    .member-section .swiper .swiper-wrapper .swiper-slide {
        width: 300px;
    }
    .directory-maps {
        grid-row: 1;
    }
    .directory-select {
        grid-row: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        grid-column-gap: var(--spacing-xs);
    }
    .directory-select > * {
        width: 50%;
    }
    .directory-store {
        height: 550px;
    }
    .grid-content.grid-directory {
        grid-template-columns: 100%;
    }
    .intro-logo img {
        height: 175px;
    }
    .homepage-intro .tab-container .tab > li {
        height: 34px;
    }
    .fsw-h1 {
        line-height: 1.5;
        font-size: var(--font-size-h1);
    }
    .fsw-h2 {
        line-height: 34px;
        font-size: var(--font-size-h2);
    }
    .fsw-h3 {
        line-height: 31px;
        font-size: var(--font-size-h3);
    }
    .fsw-h4,
    .mobile-menu a {
        line-height: 1.15;
        font-size: var(--font-size-h4);
    }
    .fsw-h5 {
        line-height: 1.2;
        font-size: var(--font-size-h5);
    }
}
@media (max-width: 767.98px) {
    .promotion-wrapper .swiper-promo .swiper-wrapper {
        transition-timing-function: linear !important;
    }
    .single-intro .grid-content.grid2 {
        grid-template-columns: 100%;
        grid-row-gap: var(--spacing-sm);
    }
    .single-intro .singleIntro-content {
        padding: 0;
        justify-content: flex-start;
        grid-row-gap: var(--spacing-sm);
    }
    .show-menu .ic {
        margin-left: var(--spacing-2xs);
    }
    .all-menu-toggle > a {
        display: flex;
        align-items: center;
        column-gap: var(--spacing-3xs);
    }
    .all-menu-toggle > a::before {
        content: attr(data-show);
        font-size: var(--font-size-button1);
        line-height: 1;
        color: var(--color-white);
    }
    .all-menu-toggle > a.active::before {
        content: attr(data-hide);
    }
    .all-menu-toggle .ic {
        font-size: 12px !important;
    }
    .menuMobile-wrapper .grid-menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: var(--spacing-sm);
    }
    .footer-menu.social-menu {
        justify-content: center;
        align-items: center;
    }
    .socialMobile-group {
        display: none;
    }
    .social-nav:first-child {
        margin-top: 0;
    }
    .social-nav {
        margin-top: var(--spacing-lg);
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column-gap: var(--spacing-xs);
    }

    .social-nav a {
        line-height: 1;
        display: block;
    }
    .social-nav .ic {
        font-size: 24px;
    }
    .social-nav:has(.active) a:not(.active) {
        opacity: 0.2;
    }
    #footer_container {
        display: none;
    }
    .footer-container .social-menu {
        display: none;
    }
    .homepage-intro {
        height: 100svh;
        min-height: 500px;
    }
    .slide-section .slide-container .slide-logo {
        max-width: 68px !important;
        max-height: 50px !important;
    }
    .happening-section .swiper-pagination {
        bottom: var(--spacing-sm);
    }
    .happening-item .grid-content.grid2 {
        grid-template-columns: 100%;
    }
    .happening-item .grid-content.grid2 > * {
        grid-column: 1;
        grid-row: 1;
        position: relative;
    }
    .happening-item .grid-content.grid2 > .grid-context {
        z-index: 2;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
    }
    .happening-desc {
        justify-content: flex-end;
        padding-bottom: var(--spacing-xl);
    }
    .happening-item .media-wrapper.media4-3 {
        max-height: 100svh;
    }
    .happening-item .media-wrapper.media4-3:before {
        padding-top: calc((1028 / 700) * 100%);
    }
    .promotion-wrapper .promotion-cover {
        position: relative;
    }
    .promotion-wrapper .promotion-cover::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 74.93%,
            rgba(0, 0, 0, 0.55) 100%
        );
    }
    .promotion-wrapper .promotion-heading {
        position: absolute;
        top: calc(100vw - (var(--container-padding) * 2));
        z-index: 2;
        transform: translateY(calc(-100% - var(--spacing-2sm)));
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .promotion-wrapper .promotion-list {
        margin-top: var(--spacing-xs);
        margin-bottom: var(--spacing-xl);
    }
    .promotion-wrapper .promotion-list .swiper-slide {
        width: 315px;
        padding-right: var(--spacing-2sm);
    }
    .promotion-wrapper .bg-obj {
        display: none;
    }
    .grid-content.grid-promo {
        grid-template-columns: 100%;
    }
    .slide-section .slide-content {
        left: 0;
        padding: 0 var(--container-padding);
        padding-bottom: var(--spacing-xl);
    }
    .slide-section .swiper-pagination {
        left: 0;
        text-align: center;
    }
    .hidden-mb {
        display: none;
    }
    .slide-section .slide-container::before {
        padding-top: calc((792 / 390) * 100%);
    }
    .slide-section .slide-container .bg-obj * {
        object-position: top;
    }
    .slide-section .slide-container {
        text-align: center;
    }
    .slide-section .slide-container::after {
        background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 42.1%,
            #000 97.53%
        );
    }
}
@media (max-width: 575.98px) {
    .happening-item .media-wrapper.media4-3 {
        max-height: unset;
    }
    .homepage-intro .media-wrapper:not(.media-auto) * {
        object-position: top;
    }
    .swiper.swiper-update .swiper-slide {
        width: 100%;
    }
    .swiper-happeningThumb {
        width: 100vw;
        margin-left: calc(-1 * var(--container-padding));
    }

    .swiper-happeningThumb .swiper-slide {
        padding: 0 var(--spacing-sm);
        width: 80px;
    }

    .select:has(.branch-select, .happening-select) {
        padding-bottom: var(--spacing-2sm);
    }
}

/* DATEPICKER:START */
.datepicker {
    position: relative;
}
.datepicker:before {
    font-family: "iconfont";
    content: "\e934";
    font-weight: normal;
    font-size: var(--font-size-xl);
    width: var(--input-height);
    height: var(--input-height);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: var(--spacing-md);
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
}
.ui-datepicker a {
    box-shadow: none;
}
.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: var(--spacing-xs) 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    line-height: normal;
    border-radius: 0;
    text-transform: uppercase;
    border: 1px solid rgba(var(--rgb-theme-main1), 0.1);
    border-bottom: 0;
    margin-top: var(--spacing-3xs);
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    display: flex;
    align-items: center;
    vertical-align: top;
    width: var(--input-height);
    height: 100%;
    line-height: inherit;
    text-align: center;
    position: absolute;
    top: 0;
    z-index: 1;
}
.ui-datepicker .ui-datepicker-prev {
    padding-left: var(--spacing-xs);
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-prev-hover {
    left: 0;
}
.ui-datepicker .ui-datepicker-next {
    padding-right: var(--spacing-xs);
}
.ui-datepicker .ui-datepicker-next,
.ui-datepicker .ui-datepicker-next-hover {
    right: 0;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
    position: static;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
    text-indent: inherit;
}
.ui-datepicker .ui-datepicker-prev span:before,
.ui-datepicker .ui-datepicker-next span:before {
    font-family: "iconfont";
    font-size: var(--font-size-md);
    font-weight: normal;
}
.ui-datepicker .ui-datepicker-prev span {
    justify-content: flex-start;
}
.ui-datepicker .ui-datepicker-prev span:before {
    content: "\e909";
    transform: translateX(-3px);
}
.ui-datepicker .ui-datepicker-next span {
    justify-content: flex-end;
}
.ui-datepicker .ui-datepicker-next span:before {
    content: "\e90a";
    transform: translateX(3px);
}
.ui-datepicker .ui-datepicker-title {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    font-size: inherit;
    padding-left: var(--font-size-xs);
}
.ui-datepicker .ui-datepicker-title select {
    width: auto;
    padding: 0 var(--spacing-sm) 0 0 !important;
    border: 0;
    background: none;
    height: auto;
    min-height: 0;
    line-height: normal;
    font-weight: inherit;
    text-transform: uppercase;
}
.ui-datepicker .ui-datepicker-title select:not(:last-child) {
    margin-right: 0;
}
.ui-datepicker .ui-datepicker-title option {
    color: #000;
}
.ui-datepicker .ui-datepicker-title .ui-datepicker-month {
    order: 1;
}
.ui-datepicker .ui-datepicker-title .ui-datepicker-year {
    order: 3;
}
.ui-datepicker .ui-datepicker-title:before,
.ui-datepicker .ui-datepicker-title:after {
    font-family: "iconfont";
    content: "\e908";
    font-size: var(--font-size-2xs);
    font-weight: normal;
    line-height: 1;
    pointer-events: none;
    transform: translateX(calc(var(--spacing-sm-minus) + var(--spacing-2xs)));
}
.ui-datepicker .ui-datepicker-title:before {
    order: 2;
}
.ui-datepicker .ui-datepicker-title:after {
    order: 4;
}
.ui-datepicker .ui-datepicker-calendar {
    border-radius: 0;
    border: 1px solid rgba(var(--rgb-theme-main1), 0.1);
    border-top: 0;
    margin-bottom: var(--spacing-3xs);
}
.ui-datepicker table {
    margin: 0;
    padding: var(--spacing-3xs) 0;
    font: inherit;
    font-weight: var(--weight-medium);
}
.ui-datepicker th,
.ui-datepicker td {
    padding: var(--spacing-3xs);
    text-align: center;
    text-transform: uppercase;
}
.ui-datepicker td span,
.ui-datepicker td a {
    margin: 0 auto;
    padding: 0;
    width: auto;
    height: auto;
    line-height: normal;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}
.ui-datepicker tbody tr:last-child td {
    padding-bottom: var(--spacing-xs);
}
.ui-datepicker .ui-state-default:hover {
    opacity: var(--opacity-light);
}
.ui-datepicker th,
.ui-datepicker td .ui-state-highlight,
.ui-datepicker td .ui-state-active,
.ui-datepicker .ui-datepicker-title {
    font-weight: inherit;
    font-style: normal;
    opacity: 1;
    color: inherit;
}
.ui-datepicker td.ui-state-disabled {
    pointer-events: none;
    opacity: 0.1;
}
.ui-datepicker td.ui-datepicker-current-day > * {
    text-decoration: underline;
}
/* DATEPICKER:END */

/*BURGER ICON*/
.burger-icon {
    color: #fff;
    cursor: pointer;
    position: relative;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    z-index: 99;
}

.burger-line {
    /* bar color */
    transition: 0.4s;
    width: 100%;
    height: 1px;
    background-color: #fff;
}

.burger-icon .burger-line:last-child {
    margin-bottom: 0;
}

.burger-line-1 {
    position: relative;
    top: 0;
}

.burger-line-3 {
    position: relative;
    bottom: 0;
}

.header-menu-enabled .burger-icon .burger-line-1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

.header-menu-enabled .burger-icon .burger-line-2 {
    opacity: 0;
}

.header-menu-enabled .burger-icon .burger-line-3 {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%) rotate(45deg);
}
.mobileMenu-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 98;
    background: var(--color-black);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: var(--spacing-md) var(--spacing-sm);
    padding-top: 0;
    transform: translateX(-100%);
    will-change: transform;
    transition: transform var(--transition) var(--timing-function);
}

@media (max-width: 1279.98px) {
    .header-menu-enabled .mobileMenu-container {
        transform: translateX(0);
    }
}

.mobileMenu-container .content {
    width: 100%;
}
.mobileMenu-container .content .accordion-container {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-xs);
}

.mobile-header {
    display: flex;
    height: var(--header-h);
    align-items: center;
    flex-shrink: 0;
}
.mobile-menu {
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    grid-row-gap: var(--spacing-md);
}

.mobileMenu-container .content-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.mobileMenu-container .social-list {
    height: fit-content;
}

.mobileMenu-container .lang-select .options-wrapper {
    top: unset;
    bottom: 120%;
}
@media (min-width: 1280px) {
    .burger-icon {
        display: none;
    }
}
@media (max-width: 1279.98px) {
    :root {
        --header-h: 75px;
    }

    .header-m .menu-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-menu,
    .header-r .social-list {
        display: none;
    }
}

/* Clipboard */
#clipboard {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    max-width: 100%;
    margin: 0 auto;
    padding: var(--spacing-sm);
    font-weight: var(--weight-bold);
    text-transform: uppercase;
    color: #fff;
    border-radius: 50%;
    background: #000;
    position: fixed;
    z-index: 999999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* MAGNIFIC POPUP ==================== */

/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
    padding: 0;
}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
    top: 0;
    bottom: 0;
}
/* padding for main container */
.mfp-no-margins .mfp-container {
    padding: 0;
}

/* 

for zoom animation 
uncomment this part if you haven't added this code anywhere else

*/

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}

.mfp-image-holder .mfp-content {
    max-width: 90%;
}

/* SELECT2 */
.select2-container .select2-selection--multiple {
    min-height: var(--input-height);
    height: auto;
}

.select2-container--default .select2-selection--multiple,
.select2-container--default.select2-container--focus
    .select2-selection--multiple {
    border-radius: 0;
    border: var(--input-border);
}

.select2-container--default .select2-search--inline .select2-search__field {
    margin: 0;
    padding: 0;
}

.select2-container--default
    .select2-selection--multiple
    .select2-selection__rendered {
    padding: var(--spacing-3xs) var(--input-spacing-x);
    display: flex;
    align-items: center;
    column-gap: var(--spacing-2xs);
    row-gap: var(--spacing-3xs);
    flex-wrap: wrap;
}

.select2-container--default .select2-search--inline .select2-search__field {
    font-size: var(--font-size-body1);
}

.select2-container--default
    .select2-selection--multiple
    .select2-selection__choice {
    float: unset;
    margin: 0;
    padding: var(--spacing-3xs) var(--spacing-2xs);
    color: var(--color-gray);
    font-family: var(--font-heading);
    border-radius: 33px;
}

.select2-container--default .select2-selection--multiple:after,
.select2-container--default.select2-container--focus
    .select2-selection--multiple:after {
    content: "\e908";
    font-family: "iconfont";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: var(--spacing-2xs);
    color: var(--color-gray-light);
}
